In [371]:
import numpy as np
import pandas as pd
import nltk
import re
import heapq
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [372]:
dat = pd.read_csv('/Users/pranavsaxena/Downloads/text_emotion.csv')

In [373]:
dat.head()

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [374]:
dat = dat.drop(['tweet_id','author'],axis=1)

In [375]:
dat.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

In [376]:
dat.sentiment.unique()

array(['empty', 'sadness', 'enthusiasm', 'neutral', 'worry', 'surprise',
       'love', 'fun', 'hate', 'happiness', 'boredom', 'relief', 'anger'],
      dtype=object)

In [377]:
# dataset = nltk.sent_tokenize(text)

In [378]:
text = "Hi how are you doing .?@#$%^&* today. It's been a sunny day today"

In [379]:
def read_data(text,word2count,filtered_word):
    
    stop_words = set(stopwords.words('english'))
    dataset = nltk.sent_tokenize(text)
    
    for i in range(len(dataset)):
        
        dataset[i] = dataset[i].lower()
        dataset[i] = re.sub(r'\W', ' ', dataset[i])
        dataset[i] = re.sub(r'\s+', ' ', dataset[i])

    # Creating the Bag of Words model
    
    for data in dataset:
        words = nltk.word_tokenize(data)
        filtered_sentence = [w for w in words if not w.lower() in stop_words]
        for word in filtered_sentence:
            
            if isinstance(word, str):
                filtered_word.append(word)
                if word not in word2count.keys():
                    word2count[word] = 1
                else:
                    word2count[word] += 1
#     print(word_tokens)
#         print(filtered_sentence)
    return (filtered_word,word2count)

In [380]:
word2count = {}
filtered_word =[]
for text in dat.content:
    filtered_word,word2count = read_data(text,word2count,filtered_word)
# print(filtered_word)
# word2count = {}
# word2count = read_data(text,word2count)
# print(word2count)

In [353]:
import heapq
freq_words = heapq.nlargest(25, word2count, key=word2count.get)

In [354]:
# freq_words

In [355]:
df = pd.DataFrame(columns =freq_words)

In [356]:
df.head()

Empty DataFrame
Columns: [day, good, get, like, got, quot, http, go, today, work, love, going, happy, lol, one, time, u, know, back, com, im, really, see, amp, night]
Index: []

[0 rows x 25 columns]

In [357]:
df.insert(25, "sentiment", dat.sentiment)

for col in df.columns[:25]:
    
    df[col] = 0

In [358]:
df.columns

Index(['day', 'good', 'get', 'like', 'got', 'quot', 'http', 'go', 'today',
       'work', 'love', 'going', 'happy', 'lol', 'one', 'time', 'u', 'know',
       'back', 'com', 'im', 'really', 'see', 'amp', 'night', 'sentiment'],
      dtype='object')

In [359]:
df.head()

,day,good,get,like,got,quot,http,go,today,work,...,u,know,back,com,im,really,see,amp,night,sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,empty
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,sadness
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,sadness
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,enthusiasm
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral

In [362]:
for i in range(dat.shape[0]):
    
    word2c = {}
    filtered_w =[]
    f_word,word2c = read_data(dat.content[i],word2c,filtered_w)
    
    for k,v in word2c.items():
        
        if k in df.columns:
            
            df.loc[i].k = v
        else:
            df.loc[i].k = 0
            
        

#     if i == 5:
#         break

{0}

In [349]:
for k,v in word2c.items():
    print(k,v)

pinging 1
ghostridah14 1
go 1
prom 1
bc 1
bf 1
like 1
friends 1

In [352]:
# set(df.pinging)